:root {
  --font-family: "Poppins";
  --color-text: rgb(242, 242, 242);
  --color-accent: rgb(97, 171, 236);
  --color-bg: rgb(34, 33, 33);

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --border-radius: 0.2rem;
}
:root {
  --container-width: 1200px;
  --container-width-small: 650px;
  --container-padding: 0 2rem;

  --section-padding: 3rem 0;
}
