* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  color: var(--color-text);
}
/* ============================
   Layout
============================ */
.spacing__container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: var(--container-padding);
  overflow: hidden;
}
.spacing__container-small {
  max-width: var(--container-width-small);
  margin: 0 auto;
  padding: 1rem 2rem;
  overflow: hidden;
}
.section__heading {
  font-size: clamp(1.3rem, 1.6vw, 1.9rem);
  font-weight: var(--font-weight-semibold);
  margin-bottom: 1rem;
}
.bg__wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
    url(../img/bg-wallpaper.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* ============================
   Navbar
============================ */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0 0.2rem 0;
}
.nav__logo {
  width: clamp(7rem, 11vw, 14rem);
  height: auto;
}
.nav__login-link {
  text-decoration: none;
  background-color: black;
  color: var(--color-text);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  text-transform: uppercase;
  font-size: 1.2rem;
  border: 1px solid white;
}
/* ============================
   Hero
============================ */
.hero {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero__heading {
  font-size: clamp(2rem, 2.95vw, 4.7rem);
  font-weight: var(--font-weight-semibold);
}
.hero__offer-text {
  font-weight: var(--font-weight-medium);
}
.hero__form {
  margin-top: 1rem;
  position: relative;
}
.hero__input {
  width: 100%;
  background-color: var(--color-input);
  border-radius: var(--border-radius);
  border: none;
}
.hero__input::placeholder {
  color: rgb(96, 96, 96);
  opacity: 0.8;
}
.hero__input,
.hero__btn {
  padding: 1rem;
}
.hero__btn {
  background-color: var(--color-accent);
  border-radius: 0 0.2rem 0.2rem 0;
  font-size: 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
/* ============================
   Features
============================ */
.features {
  margin: 5rem 0;
}
.features__list {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.features__item {
  flex: 1 1 100%;
  border-radius: var(--border-radius);
  text-align: center;
}
.features__icon {
  font-size: 3rem;
  color: var(--color-accent);
}
.features__title {
  font-size: clamp(1.1rem, 1.3vw, 1.6rem);
  font-weight: var(--font-weight-semibold);
  margin-bottom: 0.5rem;
}
.features__text {
  opacity: var(--opacity-text);
}
/* ============================
   Pricing
============================ */
.pricing__plans {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.pricing__plan {
  flex: 1;
  border-radius: var(--border-radius);
}
.pricing__title {
  text-transform: uppercase;
  color: var(--color-accent);
}
.pricing__feature {
  padding: 0.8rem 0;
  border-bottom: 1px solid rgb(120, 120, 120);
}
.pricing__label {
  margin-bottom: 0.2rem;
  opacity: var(--opacity-text);
}
.pricing__description {
  font-weight: var(--font-weight-medium);
}
.pricing__cta {
  margin-top: 1rem;
  text-transform: uppercase;
  background-color: var(--color-accent);
  border: none;
  width: 100%;
  padding: 0.8rem;
  font-weight: var(--font-weight-semibold);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.pricing__cta:hover {
  background-color: var(--hover-color-accent);
}
/* ============================
   Faq
============================ */
.faq {
  margin: 5rem 0;
}
.faq__questions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.faq__question {
  flex: 1;
  border-radius: var(--border-radius);
}
.faq__question-btn {
  text-align: start;
  color: var(--color-text);
  border: none;
  background-color: rgb(38, 38, 38);
  font-size: 1.1rem;
  font-weight: var(--font-weight-semibold);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  cursor: pointer;
  width: 100%;
  padding: 1.5rem;
  transition: 0.3s ease-in-out;
}
.faq__answer {
  text-align: start;
  padding: 1.5rem;
  border-top: 5px solid rgb(27, 27, 27);
  background-color: rgb(38, 38, 38);
  opacity: var(--opacity-text);
  font-size: 1.05rem;
}
.faq__answer.hidden {
  display: none;
}
.faq__question-btn:hover {
  background-color: rgb(49, 49, 49);
}
/* ============================
   Footer
============================ */
.footer__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}
.footer__section {
  margin: 1rem 0;

  h5 {
    margin-bottom: 0.6rem;
  }
}
.footer__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  li a {
    opacity: var(--opacity-text);
    color: var(--color-text);
  }
}
.footer__form {
  position: relative;
  display: flex;
  width: 400px;
}
.footer__input,
.footer__btn {
  padding: 0.5rem;
}
.footer__input {
  flex-grow: 1;
  background-color: var(--color-input);
  border: none;
  border-radius: var(--border-radius);
}
.footer__btn {
  background-color: var(--color-accent);
  border-radius: 0 0.2rem 0.2rem 0;
  font-size: 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.footer__socials {
  margin: 1rem 0;
  a {
    color: var(--color-text);
    font-size: 1.2rem;
  }
}
.footer__socials a:hover {
  opacity: 0.9;
}
.footer__copyright {
  opacity: var(--opacity-text);
  font-size: 0.8rem;
}
/* ============================
   Media Queries
============================ */
@media (max-width: 800px) {
  .pricing__plans {
    flex-direction: column;
  }
  .pricing__plan {
    width: 100%;
  }
  .features__list {
    flex-direction: column;
  }
  .features__item {
    max-width: 400px;
    margin: 0 auto;
  }
}
@media (max-width: 650px) {
  .hero__btn {
    position: static;
    display: block;
    width: 100%;
    margin-top: 0.3rem;
    border-radius: var(--border-radius);
  }
  .footer__form {
    width: 100%;
    flex-direction: column;
  }
  .footer__btn {
    position: static;
    flex-direction: column;
    display: block;
    width: 100%;
    margin-top: 0.3rem;
    border-radius: var(--border-radius);
  }
}
