* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
}
body.no-scroll {
  overflow: hidden;
}
.section {
  margin: var(--section-padding);
}
.section__heading {
  font-size: clamp(1.5rem, 1.8vw, 2rem);
  color: var(--color-accent);
  font-weight: var(--font-weight-medium);
  margin-bottom: 1rem;
}
header {
  background-color: var(--color-bg);
}
/*spacingContainer*/
.spacing__container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: var(--container-padding);
}
.hero-spacing__container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: var(--container-padding);
  flex: 1;
  margin-top: 12rem;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.nav__left {
}
.nav__mid {
}
.nav__right {
  display: flex;
  gap: 1rem;
}
.nav__left-logo {
  width: 9rem;
  height: 3.5rem;
}
.nav__list {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.nav__list li a {
  text-decoration: none;
  color: var(--color-text);
}
.nav__right-search,
.nav__right-login,
.nav__open-sidebar {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  i {
    color: var(--color-text);
  }
}
.nav__open-sidebar.hidden {
  display: none;
}
/*sidebar*/
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  z-index: 5;

  pointer-events: none;
}
.sidebar__layout {
  background-color: var(--color-bg);
  padding: 2rem;
  margin: 0 auto;
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;
  z-index: 5;
}
.sidebar.open {
  pointer-events: all;
}
.sidebar.open .sidebar__layout {
  transform: translateX(0);
}
.sidebar__content {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 2fr auto;
}
.sidebar__header {
  margin-bottom: 2rem;
}
.sidebar__logo {
  width: 8rem;
  height: auto;
}
.sidebar__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.sidebar__list li {
  margin: 1rem 0;
}
.sidebar__list li a {
  text-decoration: none;
  color: var(--color-text);
}
.sidebar__footer {
  border-top: 1px solid rgb(221, 221, 221);
}
/*hero*/
.hero {
  color: var(--color-text);
  
}
.hero__bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hero__content {
  max-width: 450px;
}
.hero__title {
  font-size: clamp(1.7rem, 2.5vw, 2.8rem);
}
.hero__meta {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.hero__rating {
}
.hero__description {
  
}
.hero__buttons {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero__btn {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  font-size: 0.95rem;
}
.hero__btn--watch {
  background-color: var(--color-accent);
  color: black;
}
.hero__btn--watch:hover {
}
.hero__btn--details {
  background: none;
  font-weight: bold;
}
/*swiper*/
.slider {
  overflow: hidden;
  width: 100%;
}
.swiper-pagination {
 
}
/*popular*/
/**/
.anime-img {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
  border-radius: var(--border-radius);
}
.anime-title {
  color: var(--color-text);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Anzahl der Zeilen */
  -webkit-box-orient: vertical;
}
/*favorites*/
/*topRated*/
.top-rated__more {
  margin-top: 1rem;
  text-align: center;
}
.top-rated__btn {
  background-color: var(--color-accent);
  color: black;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  font-size: 0.95rem;
  text-decoration: none;
}
/*details__panel*/
.details-panel {
  position: fixed;
  inset: 0;
  background-color: var(--color-bg);
  z-index: 100;
  
  opacity: 0;
  pointer-events: none;
}
.details-panel.open {
  opacity: 1;
  pointer-events: all;
}
.details-panel__layout {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 2rem;
  height: 100%;
  overflow-y: auto;
}
.details-panel__content {
  position: relative;
  color: var(--color-text);
}
/* close-details */
.close-details {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  color: var(--color-text);
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
}
.details-panel__main {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
}
 /* Textbeschreibung */
.details-panel__text {
  flex: 1 1 80%;
}
.details-panel__heading {
  font-size: clamp(1.7rem, 2.5vw, 2.8rem);
}
.details-panel__description {
  margin: 1rem 0;
  line-height: 1.8;
  color: rgb(207, 207, 207);
}
/* Status, Season, Episoden */
.details-panel__info {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}
.details-panel__info-group {

}
.details-panel__label {
  display: block;
  color: rgb(207, 207, 207);
}
.details-panel__value {
  font-weight: 600;
  margin-left: 0.3rem;
  color: var(--color-text);
}
.details-panel__genre {
  margin-top: 1.5rem;
}
.details-panel__genre-btn {
  margin: 0 0.3rem 0 0;
  background: none;
  color: var(--color-accent);
  border: none;
  padding: 0.3rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.details-panel__genre-btn:hover {
  background-color: var(--color-accent);
  color: black;
}
/* Bild + Bewertung */
.details-panel__media {
  flex: 1 1 20%;
  text-align: center;
}
.details-panel__img {
  width: 100%;
  height: auto;
}
.details-panel__rating {

}
.details-panel__stars {
  margin: 0.2rem 0 1rem 0;
}
.details-panel__stars i {
  color: #FFD43B;
}
.details-panel__btns {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.details-panel__fav-btn {
  border: none;
  padding: 0.5rem;
  width: 100%;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.fav-btn {
  i {
    color: red;
    font-size: 1rem;
  }
}
.trailer-btn {
  background-color: white;

  i {
    font-size: 1rem;
  }
}
.details-panel__fav-btn:hover {
  opacity: 0.9;
}

/*trailer*/
.trailer-panel {
  position: fixed;
  background-color: var(--color-bg);
  inset: 0;
  z-index: 100;

  opacity: 0;
  pointer-events: none;
}
.trailer-panel.open {
  opacity: 1;
  pointer-events: all;
}
.trailer-panel__content {
  position: relative;
}
.trailer-panel__close {
  background: none;
  color: var(--color-text);
  border: none;
  font-size: 2rem;
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
.trailer-panel__thumbnail {
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}
.trailer-panel__video {
  width: 100%;
  height: 100vh;
  border: none;
  display: block;
}
/* MediaQuerys */
@media (max-width: 740px) {
  .nav__list {
    display: none;
  }
  .nav__right-login {
    display: none;
  }
  .nav__open-sidebar.hidden {
    display: inline;
  }
  .details-panel__main {
    flex-direction: column;
  }
  .details-panel__img {
    display: none;
  }
}
